# Python virtual environment
venv/

# Bytecode
__pycache__/
*.py[cod]
*$py.class


# Django local settings & secrets
environment/
.env.*
env/


settings_local.py

# Database
*.pot
*.pyc
*.mo
*.db
*.sqlite3


# Static & media
staticfiles/
dist/
build/
media/
uploads/

# Node / frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Logs & coverage
*.log
logs/
htmlcov/
.coverage
coverage.xml

# Testing caches
.pytest_cache/
.mypy_cache/
.pyre/
celerybeat-schedule

sendmail.py